.hover-list-wrap {
	position: relative;
	margin-left: 12px;
}

.open-button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	padding: 10px 0px;
}

.open-button .img {
	width: 30px;
	height: 30px;
	background-color:antiquewhite;
	border:none;
	border-radius: 999px;
	overflow: hidden;
}

.hover-list {
	position: absolute;
	width: auto;
	top: 60px; /*.open-button .img의 height 값 + .open-button의 padding 값*/
	right: 0px;
	z-index: -1;
	opacity: 0;
	margin: 0px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	font-size: 12px;
	background-color: aliceblue;
	border-radius: 8px;
	overflow: hidden;

	transition: all;
	transition-duration: 300ms;
}

.hover-list li {
	display: flex;
	color: black;
	text-decoration: none;
	list-style: none;
	word-break: keep-all;
}

.hover-list li a {
	padding: 12px 16px;
}

.open-button:hover + .hover-list,
.hover-list:hover {
	z-index: 99;
	opacity: 100;
	top: 50px;
}